<% layout('/layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Update Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="POST" class="needs-Validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" type="text" name="title" id="title"  value="<%= campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">location</label>
                    <input class="form-control" type="text" name="location" id="location"  value="<%= campground.location %>"required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="custom-form-label">Add images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
                <div class=mb-3>
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group">
                        <span class=" input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" name="price"  value="<%= campground.price %>" required>
                        <div class="valid-feedback">
                        Looks good!
                    </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="description" required><%= campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                <% campground.image.forEach(function(img, index) {  %>
                    <div class="input-group d-inline">
                        <img src="<%= img.thumbnail %>" class="img-thumbnail mb-1"  alt="">
                        <input class="form-check-inline m-0" type="checkbox" name="deleteimages[]" value="<%= img.filename %>" id="image-<%=index%>">
                        <label class="me-1" for="image-<%=index%>">Delete?</label>
                    </div>
                <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
                <a href="/campgrounds/<%= campground.id %>">Back to campground</a>
            </form>
        </div>
    </div>